body {
  background-image: url(../../images/bg-images/pexels-jess-loiterton-4321836.jpg);
  background-size: 2000px;
}

.navbar-personal {
  background-color: rgb(47, 46, 54);
}
.navbar-personal a {
  font-size: 20px;
  font-family: "Merriweather", serif;
  color: rgba(240, 248, 255, 0.773);
  margin-right: 3vw;
}
.navbar-personal a:hover {
  color: rgb(240, 248, 255);
}
.navbar-personal a:active {
  transform: scale(1.1);
  color: rgb(240, 248, 255);
}
.navbar-personal .yo {
  background-color: rgb(47, 46, 54);
}

.boton {
  filter: invert(60%);
  transform: scale(1.05);
}

.logo .logo-img {
  width: 25vh;
  position: relative;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 760px) {
  .logo .logo-img {
    left: 80%;
    width: 25vh;
  }
}

.pasador-fotos {
  width: 25vw;
  min-width: 260px;
  display: block;
  margin: 10vh auto;
  z-index: 3;
}

/* Nosotros */
.nosotrostext {
  font-family: "Merriweather", serif;
  font-size: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.84);
  margin-top: 20%;
  margin: 10%;
}

.spotifybar {
  max-height: 50vh;
  min-height: 40vh;
  position: relative;
  width: 80vw;
  height: 45vh;
  left: 10%;
  top: 43%;
}

/* skates */
.grid-skates {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column 3;
  margin: 110px 10px 0 10px;
  gap: 10vw;
}
.grid-skates .skate {
  width: 13vh;
  min-width: 7vh;
}

.textoshapes {
  position: relative;
  font-family: "Merriweather", serif;
  text-align: center;
  margin-top: 50px;
}
.textoshapes .shapes {
  font-size: 4vh;
}
.textoshapes .laminas {
  font-size: 3vh;
}

/* spots */
.map-grid-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30vw;
  margin: 10px 0 500px 0px;
}
.map-grid-container .map-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 200px;
  margin-top: 5vh;
}
@media (min-width: 990px) {
  .map-grid-container .map-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20%;
  }
}
.map-grid-container .map-grid .map {
  height: 25vh;
  width: 80vw;
  padding: 8px;
  border-radius: 5vh;
}
@media (min-width: 990px) {
  .map-grid-container .map-grid .map {
    width: 30vw;
    height: 55vh;
    border-radius: 20px;
  }
}

/* camisetas / buzos / gorros */
.contenedor-grids {
  display: flex;
  justify-content: center;
}
@media (min-width: 760px) {
  .contenedor-grids {
    align-items: center;
    height: 95vh;
  }
}
.contenedor-grids .grids-ind {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
@media (min-width: 760px) {
  .contenedor-grids .grids-ind {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 10vh;
  }
}
.contenedor-grids .grids-ind div img {
  transition: transform 0.4s;
  position: relative;
  top: 6vh;
  margin-inline: 8vw;
  margin-block: 1vh;
  margin-top: 50px;
  width: 15vh;
}
@media (min-width: 760px) {
  .contenedor-grids .grids-ind div img {
    transition: transform 0.4s;
    margin-inline: 2vw;
    width: 20vw;
    max-width: 230px;
  }
}

.redes {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 5%;
  top: 100px;
}
.redes a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-size: 3vh;
}
.redes a:hover {
  transition: 0.15s;
  transform: scale(1.1);
  filter: invert(30%);
}

/*# sourceMappingURL=style.css.map */
