/* footer phone - tablet*/
@media (max-width:800px) { 
    
    .redes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: absolute;
        top: 88%;
        justify-self: center;
        top: 95%; 
        left: 56%;
        transform: translate(-50%, -50%);
      }
  
      .instagram{
        bottom: 6px;
        img {
          width: 50px;
          filter: invert(90%);
          &:hover {
            filter: invert(80%);
          }
        }
      } 
  
      .whatsapp {
        img {
          width: 50px;
          filter: invert(90%);
          &:hover {
            filter: invert(80%);
          }
        }
      } 
  
      .mail {
        margin-top: 17px;
        img {
          width: 40px;
          filter: invert(90%);
        }
      }

}

/* footer web */
@media (min-width:801px) {
    .redes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: absolute;
        top: 88%;
        justify-self: center;
        top: 90%; 
        left: 70%;
        
      }
  
      .instagram{
        top: 0;
        img {
          width: 60px;
          filter: invert(90%);
          &:hover {
            filter: invert(80%);
          }
        }
      } 
  
      .whatsapp {
        position: relative;
        left: 14vh;
        img {
          width: 60px;
          filter: invert(90%);
          &:hover {
            filter: invert(80%);
          }
        }
      } 
  
      .mail {
        margin-top: 17px;
        img {
          width: 40px;
          filter: invert(90%);
        }
      }

   

}